* {
    box-sizing:border-box;
  width: 100%;
  }
  .gg {
    padding:20px;
    float:left;
    width: 20%;
  }
    
  
  .dd {
    padding:20px;
    float:left;
    width: 20%;
 
  }
 
  .ss {
    padding:20px;
    float:left;
    width: 20%;
  }
    
@media screen and (max-width:800px){
  .gg,.dd,.ss{
    width :400px;
    
  }
}